
# Cumulus Interfaces Role

Ansible module for `/etc/network/interfaces` on Cumulus Linux using ifupdown2.

{% set interface_vars = ['bridge', 'bonds', 'eth0', 'interfaces', 'loopback', 'mlag', 'vlans', 'vnis', 'vrf'] %}
Variable | Choices | Type
--- | --- | ---
bridge|bridge interface variables like vids/pvid/access.|dictionary
bonds|list of all bonds (non-mlag/multi-homing)|list of dictionaries
eth0|eth0 interface doptions.|dictionary
interfaces|list of all interfaces (non-bonds/bridges/svis/vnis/etc).|list of dictionaries
loopback|loopback interface options.|dictionary
mlag|all mlag related variables.|dictionary
vlans|list of all SVIs.|list of dictionaries
vnis|list of all vnis.|list of dictionaries
vrf|list of all vrf loopback interfaces.|list of dictionaries


### Tasks
* Set MTU to 9216 by default on all ports excluding eth0 which is set to 1500 MTU.
* Template `/etc/network/interfaces` (ifupdown2 config file)
* Reload networking (`ifreload -a`) after verifying with `ifup -a -s -i /etc/network/interfaces`

## Examples
{% for inventory in list_of_inventories.stdout.split('\n') %}
<details><summary markdown="span">{{ inventory }}</summary>
{%   for switch in hosts_per_inventory.results|selectattr('item', 'defined')|map(attribute='stdout_lines')|first %}
{{ switch }}
<pre><code>
{%     for current_var in interface_vars %}
{{ current_var }}:
{{ hostvars[inventory_hostname][inventory + '_' + switch][current_var]|default('N/A')|to_nice_yaml( width=50 )|trim|indent(2, indentfirst=True) }}
{%     endfor %}
</code></pre>
{%   endfor %}
</details>
{% endfor %}
